@using Foxic.Core.Entities;
@model Color
@{
    ViewData["Title"] = "Delete";
}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Delete Color</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Colors">Color</a></li>
                <li class="breadcrumb-item">Delete</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card text-center" style="width:60%">
                    <div class="card-body" style="padding:25px">
                        <img src="~/@Model.Image" style="width:250px" />
                        <h5 style="margin-top:20px" class="card-title">ColorName : @Model.Name</h5>
                        <form method="post">
                            <button type="submit" class="btn btn-danger">Delete </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>



