@using Foxic.Core.Entities;
@model Size


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Delete</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-action="Sizes">Size</a></li>
                <li class="breadcrumb-item">Delete Size</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-6">

                <div class="card text-center" style="width:60%">
                    <div class="card-body" style="padding:25px">
                        <h5 style="margin-top:20px" class="card-title">SizeName : @Model.Name</h5>
                        <form method="post">
                            <button type="submit" class="btn btn-danger">Delete </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>




