@model IEnumerable<Foxic.Core.Entities.Category>



<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div class="card" style="width:70%">
                <div class="card-body">
                    <h1>Categories</h1>

                    <p>
                        <a asp-action="Create" class="btn btn-dark">Create New </a>
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    Setting
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        <a asp-action="Delete" asp-route-id=@item.Id class="btn btn-danger">
                                            <i class="bx bx-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    </mai
